.form-and-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-and-image form {
    margin: 10px 10px 0 0;
    flex: 3;
    border-radius: 25px;
    padding: 20px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.character {
    flex: 1;
}
.character img {
    width: 100%;
}

.form-field {
    margin-bottom: 20px;
    width: 50%;
}

button {
    margin-bottom: 20px;
}