/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  body {
    margin-bottom: 75px;
    background-image: url('assets/images/bg1.jpg');
    background-attachment: fixed;
  }

  html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
  }

  main {
    color: white;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.main-content{
    width: 1000px;
    margin: 20px;
}

h1 {
  margin-bottom: 50px;
}

