<footer>
    <div class="footer-left">
        <img src="assets/images/icons/mushroom.png" class="powerup" />
        <img src="assets/images/icons/fire-flower.png" class="powerup" />
    </div>

    <div class="footer-center">
        <p>Kenobi-LJN 2021</p>
        <a href="https://github.com/ruben-navarro-navalon" target="_blank"><img src="assets/images/icons/github-icon.png" title="Take a look at my gitHub" /></a>
        <a href="https://www.linkedin.com/in/rub%C3%A9n-navarro-naval%C3%B3n-75b66a1b9/" target="_blank"><img src="assets/images/icons/linkedin-icon.png" title="Take a look at my LinkedIn" /></a>
    </div>

    <div class="footer-right">
        <img src="assets/images/icons/tanooki.png" class="powerup" />
        <img src="assets/images/icons/star.png" class="powerup" />
    </div>
</footer>